<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm" data-bs-theme="dark">
  <div class="container-fluid">
    <!-- NOMBRE DE LA ASOCIACIÓN -->
    <a class="navbar-brand fw-bold" routerLink="/">
      Asociación de Voleibol Oruro
    </a>

    <!-- BOTÓN DE MENÚ RESPONSIVE -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
      aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- MENÚ DE OPCIONES -->
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <fa-icon [icon]="faHome"></fa-icon> Inicio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">
            <fa-icon [icon]="faSignIn"></fa-icon> Iniciar Sesión
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/acerca" routerLinkActive="active">
            <fa-icon [icon]="faInfoCircle"></fa-icon> Acerca de
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- CONTENIDO DE CADA PÁGINA -->
<router-outlet></router-outlet>
