/* ======== NAVBAR GENERAL ======== */
.navbar {
  padding: 0.6rem 1rem;
  font-size: 1.05rem;
  transition: all 0.3s ease;
}

/* ======== ENLACES ======== */
.nav-link {
  color: #ffffff !important;
  margin-left: 10px;
  padding: 0.5rem 0.8rem !important;
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: #198754; /* Verde Bootstrap */
  color: #ffffff !important;
}

/* ======== ENLACE ACTIVO ======== */
.nav-link.active {
  background-color: #0d6efd; /* Azul Bootstrap */
  color: #ffffff !important;
  font-weight: 600;
}
